* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    padding: 22px 10px 20px;
    word-spacing: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 0 30px;
}

.header__left,
.header__right {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.header__left:hover {
    transform: translateX(25px) scale(1.50);
}

.header__right:hover {
    transform: translateX(-25px) scale(1.50);
}

@media (max-width: 1024px) {
    header {
        font-size: 18px;
    }
}

@media (max-width: 430px) {
    header {
        font-size: 16px;
    }
}

main,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main__content,
.footer__content {
    width: 90%;
}

@media (max-width: 1024px) {

    main,
    footer {
        display: block;
    }

    .main__content,
    .footer__content {
        width: 100%;
    }
}

.main__padding {
    padding: 88px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.grid__item a {
    color: white;
}

.p--grey {
    color: gray;
}

.p--brown {
    color: #604343;
}

.hero__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero__top h1 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 190px;
    margin: 10px 0 30px;
    letter-spacing: 40px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
    text-align: center;
}

@media (max-width: 1024px) {
    .hero__top h1 {
        font-size: 122px;
        letter-spacing: 15px;
    }
}

@media (max-width: 430px) {
    .hero__top h1 {
        font-size: 55px;
        letter-spacing: normal;
    }
}

.info__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

.info__btn {
    border: none;
    background: none;
}

.info__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.info__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    text-align: center;
    gap: 30px;
}

.info__cell:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.info__value,
.signup h2,
.signup__btn strong {
    font-size: 36px;
}

@media (max-width: 1024px) {
    .info__top {
        font-size: 14px;
    }

    .info__cell strong {
        font-size: 24px;
        line-height: 0.1;
    }
}

@media (max-width: 430px) {

    .info__top {
        font-size: 12px;
    }

    .info__cell {
        aspect-ratio: auto;
        padding: 50px 0px 30px 0px;
    }

    .info__cell strong {
        font-size: 16px;
        line-height: 0.1;
    }

    .info__grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .info__cell:nth-child(2) {
        border-top: 1px solid black;
        border-right: none;
        border-bottom: 1px solid black;
        border-left: none;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 500px;
}

.grid__item {
    aspect-ratio: 1 / 1;
    opacity: 0;
    transform: scale(0.80);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    will-change: opacity, transform;
    overflow: hidden;
    padding: 21px 13px 21px 13px;
}

.grid__item__btn {
    width: 100%;
    display: flex;
    align-items: center;
}

.grid__item__cursor {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid__item__cursor-lines {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid white;
    border-right: 2px solid white;
    transition: transform 0.3s ease-in-out;
}

.grid__item__cursor-lines:hover {
    transform: translate(5px, -5px);
}

.grid__item__cursor-lines div {
    width: 25px;
    height: 2px;
    position: absolute;
    background-color: white;
    transform: rotate(-45deg);
}

.grid__item--one {
    background-image: url(img/image-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid__item--two {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.grid__item--two div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.grid__item--three {
    background-color: #000000;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.grid__item--four {
    background-color: #1b234b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.grid__item--four div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.grid__item--four img {
    max-width: 250px;
}

.grid__item--five {
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.grid__item--six {
    background-image: url(img/image-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid__item--seven {
    background-color: #f8edde;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.grid__item--eight {
    background-color: #4f1212;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.grid__item--eight div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.grid__item--nine {
    background-color: #969f7d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.grid__item--ten {
    background-image: url(img/image-10.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    font-size: 14px;
}

.grid__item--eleven {
    background-color: #d3c8ba;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.grid__item--twelve {
    background-color: #000000;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}

.grid__item--thirteen {
    background-color: #f8edde;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.grid__item--fourteen {
    background-color: #eea6a6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.grid__item--fourteen div {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    color: black;
}

.grid__item--fourteen img {
    max-width: 250px;
}

.grid__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__item.visible {
    opacity: 1;
    transform: scale(1);
}

.grid__item:hover {
    transform: scale(1.01) rotate(1deg);
}

.grid__item--rotate:hover {
    transform: scale(1.01) rotate(-1deg);
}

.grid__item--wide {
    grid-column: span 2;
    aspect-ratio: 2 / 1;
}

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 122px;
    }

    .grid strong {
        font-size: 22px;
    }

    .grid__item--wide {
        grid-column: auto;
        aspect-ratio: 1 / 1;
    }
}

@media (max-width: 425px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 56px;
    }
}

.intro h3 {
    font-size: 60px;
    text-align: center;
}

.newsletter,
.newsletter-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.newsletter__cta {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    box-sizing: border-box;
}

.newsletter__cta strong {
    font-size: 36px;
}

.newsletter__cursor {
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter__cursor-lines {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.newsletter__cursor-lines:hover {
    transform: translate(10px, -10px);
}

.newsletter__cursor-lines div {
    width: 95px;
    height: 2px;
    position: absolute;
    background-color: black;
    transform: rotate(-45deg);
}

.newsletter__spacer {
    width: 160px;
    height: 1px;
}

.newsletter-media img {
    width: 100%;
}

.img--two,
.img--three {
    display: none;
}

.popup h2 {
    font-size: 32px;
    text-align: center;
}

.hero__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero__bottom h1 {
    font-size: 182px;
    margin: 10px 0 30px;
    letter-spacing: 40px;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: anywhere;
    text-align: center;
}

@media (max-width: 1024px) {
    .intro h3 {
        font-size: 38px;
    }

    .newsletter__cta {
        flex-direction: row;
    }

    .newsletter__cta strong {
        font-size: 24px;
    }

    .popup h2 {
        font-size: 24px;
    }

    .hero__bottom h1 {
        font-size: 112px;
        letter-spacing: 15px;
    }

    .img--one,
    .img--three {
        display: none;
    }

    .img--two {
        display: block;
    }
}

@media (max-width: 768px) {
    .newsletter__cursor {
        right: 5%;
        position: absolute;
    }
}

@media (max-width: 430px) {
    .intro h3 {
        font-size: 28px;
    }

    .main__padding {
        padding: 48px 30px 0 30px;
    }

    .newsletter__cta {
        height: 114px;
        flex-direction: column-reverse;
        padding: 20px 10px 30px 10px;
    }

    .newsletter__cta strong {
        font-size: 16px;
    }

    .newsletter__cursor {
        width: 20px;
        height: 20px;
        right: auto;
        position: relative;
    }

    .newsletter__spacer {
        display: none;
    }

    .newsletter__cursor-lines {
        width: 20px;
        height: 20px;
    }

    .newsletter__cursor-lines div {
        width: 25px;
    }

    .img,
    .img--two {
        display: none;
    }

    .img--three {
        display: block;
    }

    .popup h2 {
        font-size: 16px;
    }

    .hero__bottom h1 {
        font-size: 46px;
        letter-spacing: normal;
        margin: 0;
    }

    footer {
        flex-direction: column;
    }

    footer strong {
        font-size: 13px;
    }
}

footer {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    font-size: 20px;
}